<main class="index">

    <header class="masthead d-flex">
        <div class="container text-right">
            <h1 class="mb-1">Capitalario</h1>
            <h3 class="mb-5">
                <em>Conquistando nuestro Santuario,</em><br>
                <em>"Jenecherú" fuego vivo de esperanza</em><br>
                <em>Santa Cruz de la Sierra - Bolivia</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empecemos
            </a>
        </div>

    </header>

</main>