<main class="index">

    <header class="masthead d-flex">
        <div class="container text-right">
            <h1 class="mb-1">Capitalario</h1>
            <h3 class="mb-5">
                <em>Mis contribuciones para conquistar nuestro Santuario</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Empecemos
            </a>
        </div>

    </header>

</main>