<div class="container p-4">
    <div class="row" id="ayuda">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Tutorial</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <h4>
                            1. Ingreso al sistema
                        </h4>
                        <br>
                        <h5>
                            1.1 Formulario de registro
                        </h5>
                        <p>
                            Para ingresar al sistema, primero debe realizar su registro, entonces debe seleccionar la opcion
                            REGISTRO del menu:
                        </p>
                        <img src="/img/menuregistro.JPG" alt="menu">
                        <br>
                        <br>
                        <p>
                            Una vez seleccionada la opción, se desplegara el formulario de registro, ingrese sus datos personales:
                        </p>
                        <img src="/img/formRegistro.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Para ingresar su grupo de vida seleccione la opcion redondeada a la derecha y se desplegaran las opciones, 
                            los grupos estan ordenados por orden alfabetico, seleccione su grupo y presione el boton GRABAR.
                        </p>
                        <p>
                            Una vez registrado, le mostrara la pantalla de bienvenida al sistema.
                        </p>
                        <img src="/img/bienvenida.JPG" alt="">
                        <br>
                        <br>
                        <h5>
                            1.2 Formulario de ingreso al sistema
                        </h5>
                        <p>
                            De aqui en adelante, como ya se registró, la siguiente vez que quiera ingresar al sistema debera utilizar 
                            la opcion LOGIN del menu principal:
                        </p>
                        <img src="/img/menuregistrologin.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Y le aparecerá el formulario de acceso, en el cual debe ingresar las credenciales con las cuales se registró:
                        </p>
                        <br>
                        <img src="/img/ingreso.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Una vez ingresada sus credenciales de acceso digite el boton LOGIN, si sus datos son correctos, el sistema le mostrara la pantalla de bienvenida al sistema.
                        </p>
                        <img src="/img/bienvenida.JPG" alt="">
                        <br>
                        <br>
                        <h4>
                            2. Registro de contribuciones al capital de gracias (CCGs)
                        </h4>
                        <br>
                        <p>
                            Para registrar nuestras contribuciones al capital de gracias, debemos presionar el boton de "Ir a intenciones de CCGs", o en su defecto
                            seleccionar el menu INTENCIONES, nuevas intenciones:
                        </p>
                        <img src="/img/intencionesCCG.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Se desplegará el siguiente formulario:
                        </p>
                        <img src="/img/formCCGs.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Seleccione el tipo de contribución al capital de gracias (CCGs) que realizará:
                        </p>
                        <img src="/img/CCG1.jpg" alt="">
                        <br>
                        <p>
                            Luego digite que cantidad de veces realizará esa CCG, para luego rellenar el 
                            campo Observación si es que quiere complementar la accion con algun dato adicional, 
                            sino puede dejarlo vacío.
                        </p>
                        <br>
                        <p>
                            Luego tenemos la siguiente sección:
                        </p>
                        <img src="/img/CCG2.JPG" alt="">
                        <br>
                        <p>
                            Digite la opcion REALIZADO en caso, que la CCG haya sido realizada, caso contrario
                            esa CCG sera programada (agendada) para ser realizada y tendra que elegir la fecha
                            de realización.
                        </p>
                        <img src="/img/CCG3.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Entonces, para nuestro ejemplo, el formulario de contribucion al capital de gracia, quedará 
                            de la siguiente manera:
                        </p>
                        <img src="/img/CCG4.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Luego seleccionamos la opción GRABAR, y nos desplegará la siguiente pantalla:
                        </p>
                        <img src="/img/CCG5.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Note que esta pantalla está dividida en 2 partes, en la parte superior se encuentra la programación
                            de nuestras contribuciones al capital de gracias que NO han sido realizadas y que la tenemos agendadas, 
                            teniendo cada una de ellas separadas por tarjetas amarillas, y en la parte de abajo tenemos todas las CCGs ya realizadas.
                        </p>
                        <p>
                            En caso de que hubiesemos realizado una CCG que estaba programada, entonces tenemos que actualizar su estado
                            de la siguiente manera:
                        </p>
                        <br>
                        <img src="/img/CCG6.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Seleccionamos al boton "lapicero" (color plomo) de nuestra tarjeta y se mostrara el formulario para modificar:
                        </p>
                        <br>
                        <img src="/img/CCG7.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            modificamos el boton de REALIZADO y colocamos la fecha de realización, para luego seleccionar el botón GRABAR.
                            Entonces nos mostrara nuestra pantalla de CCGs con la nueva actualización.
                        </p>
                        <img src="/img/CCG8.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Sin embargo, tambien puede registrarse una CCG que haya sido realizada directamente. Entonces en ese caso, debera 
                            seleccionarse la opción REALIZADO y colocar fecha de realización, tal como se muestra a continuación:
                        </p>
                        <img src="/img/CCG9.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Una vez que registremos estos datos, nuestro panel de CCGs se actualizará:
                        </p>
                        <img src="/img/CCG10.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Ademas, en caso de ser necesario, usted puede eliminar las contribuciones al capital de gracias, tanto programadas como realizadas cuando desee,
                            para ello lo unico que tiene que realizar el presionar el boton de eliminar:
                        </p>
                        <img src="/img/CCG11.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Podrá eliminar tanto CCG programadas como realizadas.
                        </p>
                        <h4>
                            3. Informes
                        </h4>
                        <p>
                            Dentro de los informes generados por el sistema se encuentran los siguientes:
                        </p>
                        <img src="/img/CCG12.JPG" alt="">
                        <br>
                        <br>
                        <p>
                            Seleccione la opción que desea visualizar, y vea como van consiguiendose los resultados esperados. Ademas, usted podrá tener actualizado 
                            en todo momento la CUENTA REGRESIVA para la bendición de nuestro santuario.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>